<div class="card">
  <div class="card-body">
    <b>Code Help </b>
    <img src = "assets/img/youtube_icon_img.png" alt="YOUTUBE" >
  </div>
  <div class="heading1">
     <label for="channelName" ><b>Video Name:</b></label>
  </div>
  <div class="searchBar">
     <form>
       <!--<input #channelName type="text" placeholder="Youtube Channel..." required >-->
       <input #videoName type="text" placeholder="Search Video here" required >
     </form>
  </div>
  <br>
  <!--<button (click) = "getData()"type="button" class="btn btn-secondary">Get Channels</button>-->
  <button (click)="getVideo()" type="button" class="btn btn-secondary">Get Your Videos</button>
</div>
<!--<ul *ngFor="let channel of channels">
  <a target = "_blank" href ="https://www.youtube.com/channel/{{channel.snippet.channelId}}">
  <img class = "img-thumbnail" width= 100 height = 100 src = "{{channel.snippet.thumbnails.medium.url}}">
</a>
<a target = "_blank" href ="https://www.youtube.com/channel/{{channel.snippet.channelId}}">
  {{channel.snippet.title}}
  </a>
  <div>
    <p class="channel description">{{channel.snippet.description}}</p>
  </div>
</ul>-->
<!--<ul *ngFor="let channel of channels">
  <a target = "_blank" href ="https://www.youtube.com/watch?v={{channel.id.videoId}}">
  <img class = "img-thumbnail" width= 100 height = 100 src = "{{channel.snippet.thumbnails.medium.url}}">
</a>
<a target = "_blank" href ="https://www.youtube.com/watch?v={{channel.id.videoId}}">
  {{channel.snippet.title}}
  </a>
  <div>
    <p class="channel description">{{channel.snippet.description}}</p>
  </div>
</ul>-->
<ul *ngFor="let video of videos">
  <a target = "_blank" href ="https://www.youtube.com/watch?v={{video.id.videoId}}">
  <img class = "img-thumbnail" width= 100 height = 100 src = "{{video.snippet.thumbnails.medium.url}}">
</a>
<a target = "_blank" href ="https://www.youtube.com/watch?v={{video.id.videoId}}">
  {{video.snippet.title}}
  </a>
  <div>
    <p class="channel description">{{video.snippet.description}}</p>
  </div>
</ul>
